In [15]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

In [16]:
df_human = pd.read_csv('Data/essays.csv')
# Drop the 'id' and 'prompt_id' columns from both the train and test sets
df_human = df_human.drop(['id', 'prompt_id'], axis=1)
num_rows = df_human['generated'].shape[0]

In [17]:
# There are too few generated data in this data set thus we have combined data set together 
df_llm = pd.read_csv('Data/Mistral7B_CME_v6.csv')
df_llm = df_llm.drop(['prompt_id', 'prompt_name'], axis=1)

# Random reduce the data set to match with human writen amount
df_llm = df_llm.sample(n=num_rows, random_state=42)

df = pd.concat([df_human,df_llm],axis=0)

In [18]:
nltk.download('punkt')
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

# Function to remove stop words
def remove_stopwords(text):
    word_tokens = word_tokenize(text)
    filtered_text = [word for word in word_tokens if word.lower() not in stop_words]
    return " ".join(filtered_text)

# Apply the function to your text column
df['text'] = df['text'].apply(lambda x: remove_stopwords(x) if pd.notnull(x) else x)

[nltk_data] Downloading package punkt to /Users/steven/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/steven/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
df

                                                   text  generated
0     Cars . Cars around since became famous 1900s ,...          0
1     Transportation large necessity countries world...          0
2     `` America 's love affair 's vehicles seems co...          0
3     often ride car ? drive one motor vehicle work ...          0
4     Cars wonderful thing . perhaps one worlds grea...          0
...                                                 ...        ...
765   face Mars , also known Cydonia obelisk , myste...          1
2552  Driverless cars , also known autonomous vehicl...          1
1419  cowboy 's iconic image embodies rugged individ...          1
1078  Face Mars discovery face Mars fascinated scien...          1
1402  upon time , vast rugged terrain west , lived c...          1

[2756 rows x 2 columns]

In [20]:
df.to_csv('Data/New_data.csv', index=False)